.wrapper-numbers {
  color:#fff;
  background:#141E30;
  background:-webkit-linear-gradient(to right, #243B55, #141E30);
  background:linear-gradient(to right, #243B55, #141E30);
  padding:60px 0 45px;
  text-align:center;
  font-size:16px;
  overflow:hidden;
}

.header-numbers {
  margin-bottom:40px;
}

.wrapper-numbers h1, .wrapper-numbers h2, .wrapper-numbers h3, .wrapper-numbers h4 {
  margin:0 0 15px;
  color:#fff;
}

.count, .countup i {
  font-size:50px;
  text-shadow:0 1px 3px rgba(0,0,0,.5), 0 4px 20px rgba(0,0,0,.5);
  line-height:1;
}

.sup {
  font-size:20px;
  vertical-align:top;
  display:inline-block;
}

.column {
  padding-top:20px;
  padding-bottom:20px;
}

.social.media {
  height:400px;
  background-color:white;
}

#youtube-icon {
  color:#e52d27;
  border:1px solid #e52d27;
}

#vk-icon {
  color:#4c75a3;
  border:1px solid #4c75a3;
}

#telegram-icon {
  color:#0088cc;
  border:1px solid #0088cc;
}

#facebook-icon {
  color:#3b5998;
  border:1px solid #3b5998;
}

.h1, h1 {
}

#social-media-heading {
  margin-bottom:30px;
}

#gallery-text {
  padding-top:50px;
}

.block-heading {
  align-items:center;
  text-align:center;
}

.events {
  height:2000px;
  color:black;
}

.main {
  height:100%;
  text-align:center;
}

.content {
  margin-top:30px;
}

.definition {
  padding-left:10%;
  text-align:left;
  padding-right:10%;
  font-size:16px;
}

.def-heading {
  margin-top:20px;
  text-align:left;
  margin-left:10%;
}

.sig-container {
  margin-top:50px;
  align-items:center;
}

#return-back {
  text-align:center;
}

