.flex-box {
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}

.flex-wrap-wrap {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}

.flex-justify-center {
  -webkit-box-pack:center;
  -moz-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
}

.flex-align-center {
  -webkit-box-align:center;
  -moz-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
}

.flex-box > div[class*="col"] {
  padding-top:5px;
  padding-bottom:5px;
}

