.social-icons {
  color:#313437;
  background-color:#000;
  text-align:center;
  padding-bottom:50px;
  padding-top:30px;
}

@media (max-width:767px) {
  .social-icons {
    padding:50px 0;
  }
}

.social-icons i {
  font-size:35px;
  display:inline-block;
  color:#757980;
  margin:0 20px;
  width:65px;
  height:65px;
  border:1px solid #c8ced7;
  text-align:center;
  border-radius:50%;
  line-height:60px;
}

