#team .text-muted {
  color:#777;
}

#team a, #team a.active, #team a:active, #team a:focus, #team a:hover {
  outline:0;
}

#team a.active, #team a:active, #team a:focus, #team a:hover {
  color:#fec503;
}

section#team h2.section-heading {
  font-size:40px;
  margin-top:0;
  margin-bottom:15px;
}

section#team h3.section-subheading {
  font-size:16px;
  text-transform:none;
  font-weight:400;
  margin-bottom:75px;
}

@media (min-width:768px) {
  section#team {
    padding-top:30px;
  }
}

.team-member {
  text-align:center;
  margin-bottom:50px;
}

.team-member img {
  margin:0 auto;
  border:7px solid #fff;
}

.team-member h4 {
  margin-top:25px;
  margin-bottom:0;
  text-transform:none;
}

.team-member p {
  margin-top:0;
}

#team ul.social-buttons li a {
  display:block;
  background-color:#222;
  height:40px;
  width:40px;
  border-radius:100%;
  font-size:20px;
  line-height:40px;
  color:#fff;
  outline:0;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition:all .3s;
}

#team ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color:#fed136;
}

